body {
  margin: 0;
  direction: rtl;
  font-family: Vazirmatn, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body a {
  text-decoration: none;
  color: black;
}
link{
  text-decoration: none;
  color: black;
}
:root {
  --green: #00a03e;
  --yellow: #FFE869;
  --blue:#375c95;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
