.container {
  background: url(../../../Images/material.jpg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height:fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 150px;
  margin: 0 auto;
  text-align: justify;
}
.content {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: justify;
}
.content h2 {
  color: var(--blue);
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 30px;
}

@media (max-width:768px){
  .container{
    padding: 70px 0;
    text-align: center;
  }
  .content{
    width: 300px;
  }
}