.container {
  background: url(../../../Images/ExperiencePattern.jpg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 85vh;
  min-height: 650px;
  padding-top: 114px;
  padding-bottom: 158px;
  display: flex;
  justify-content: center;
  padding: 150px;
  margin: 0 auto;
}
.content{
  display: flex;
  flex-direction: column;
  width: 50%;
}