.container {
  background: url(../../../Images/pattern.jpeg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 100px;
  margin: 0 auto;
  text-align: justify;
}
.content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
}
.content h2 {
  color: var(--blue);
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 30px;
}

@media (max-width: 768px) {
  .container {
    padding: 70px 0;
    text-align: center;
  }
  .content {
        padding: 20px;
  }
}
