.container {
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
}

.contentFlexRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boldText {
  text-align: justify;
  padding: 20px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: bold;
  color: var(--blue);
  width: 500px;
  border: 1px solid var(--yellow);
  box-shadow: 0 5px 10px var(--yellow);
}
.text {
  text-align: center;
  font-size: 25px;
  border-radius: 55px;
  color: var(--blue);
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2));
}
.contentText {
  margin-right: 50px;
  width: 500px;
  text-align: justify;
}
.cta {
  color: var(--green);
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2));
  display: inline-block;
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 15px;
  transition: all 0.25s;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container{
    padding: 50px 0;
  }
  .contentFlexRow {
    flex-direction: column;
  }
  .contentText {
    width: 300px;
    margin: 40px auto;

  }
  .boldText {
    text-align: justify;
    width: 270px;
    margin: 0 auto;
  }
  .text {
    font-size: 20px;
    text-align: center;
  }
}
