.container {
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
}

.contentFlexRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.boldText {
  font-size: 1.17em;
  font-weight: bold;
  color: var(--blue);
  width: 500px;

}
.text {
  text-align: center;
  font-size: 25px;
  border-radius: 55px;
  padding: 10px;
  color: var(--blue);
}
.contentText {
  margin: 0 26px;
  width: 500px;
}
.cta {
  color: var(--blue);
  display: inline-block;
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 15px;
  transition: all 0.25s;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contentFlexRow {
    flex-direction: column;
    text-align: center;
  }
  .contentText{
    width: 300px;
  }
  .boldText{
    width: 300px;
  }
}
