.container {
  width: 100%;
  height: 80vh;
  min-height: 600px;
  position: relative;
  background-color: #fff;
  background: url(../../../Images/Farm.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.content {
  color: #000;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content h1 {
  font-size: 50px;
  margin-bottom: 5px;
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.5));
}
.content h2 {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  filter: drop-shadow(0 0px 3px rgba(0, 0, 0, 1.5));
}
.cta {
  background-color: var(--green);
  color: #fff;
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.5));
  display: inline-block;
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 15px;
  transition: all 0.25s;
  text-decoration: none;
}

.cta:hover {
  color: #000;
  background-color: var(--yellow);
}


