.container {
  max-width: 800px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 100px auto;
  background: url(../../../Images/instagramBackground.jpeg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  
}
.content {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 20px 0;
  background-color: #ffe9692a;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  color: var(--blue);
}
.text {
  width: 35%;
  color: #000;
  filter: drop-shadow(0 3px 2px rgba(255, 255, 255, 0.5));
  font-size: 19px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}
.link{
    text-decoration: none;
}
.btn{
    text-align: center;
    color: #FFF;
    background-color: #3f729b;
    border-radius: 5px;
    margin-top: 25px;
}
.btn:active{
    background-color: #5f97c5;
  }
.instaPic {
  background: url(../../../Images/phone.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
}
@media (max-width:768px){
  .container{
    border-radius: 20px;
    margin:80px 25px;
  }
  .content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 ;
  }
  .text{
    text-align: justify;
    font-size: 15px;
    padding: 20px 0;
    width: 250px;
  }
  .instaPic{
    width: 300px;
    height: 300px;
  }
}