.container {
  width: 100%;
  padding:100px 0;
  position: relative;
  background-color: #c4e7e4;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.rowFlex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}
.content {
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 20px;
}
.cover img {
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.btn{
  width: 100px;
  padding: 10px;
  background-color: var(--blue);
  border-radius: 20px;
}
.header{
  text-align: center;
}
@media(max-width:768px){
  .rowFlex{
    flex-direction: row;
  }
  .cover img{
    width: 300px;
  }
}